# This is a basic workflow to help you get started with Actions

name: Check Build React App/

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the dev branch
  push:
    branches:
      - dev
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - dev
    paths-ignore:
      - '**.md'
  workflow_dispatch:

env:
  client-directory: ./client

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set Node.js 16.x
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 16.x

      - name: Client npm install
        working-directory: ${{env.client-directory}}
        run: npm install
    
      - name: Run Client Test
        working-directory:  ${{env.client-directory}}
        run:
          npm run build
      - uses: actions/upload-artifact@v2
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        with:
          name: dist
          path: dist/
